* {
	box-sizing: border-box;
}

.container {
	border: 5px solid black;
}

.space {
	margin-bottom: 30px;
	width: 100%;
}

.topic {
	background-color: brown;
	width: 33%;
	position: absolute;
	height: 30px;
	top: 0px;
	right: 0px;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	text-align: center;
}

.menu {
	position: relative;
	border: 2px solid black;
	float: left;
	padding: 0px 10px 10px 10px;
}

h1 {
	text-align: center;
}

section {
	background-color: azure;
	float: left;
}

p {
	clear: both;
}

@media (max-width: 767px) {
	.container {
		padding: 10px;
	}

	section {
		width: 100%;
		margin-bottom: 10px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.container {
		position: relative;
		padding: 10px;
	}

	section {
		width: 49%;
	}

	div > section:nth-child(2) {
		position: absolute;
		right: 10px;
	}

	section:nth-child(3) {
		margin-top: 10px;
		width: 100%;
	}
}

@media (min-width: 992px) {
	.container {
		position: relative;
		padding: 10px;
	}

	section {
		width: 31%;
	}

	div > section:nth-child(2) {
		position: absolute;
		margin: auto;
		left: 0px;
		right: 0px;
	}

	section:nth-child(3) {
		position: absolute;
		right: 10px;
	}
}